@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-lexend), sans-serif;
}

/* Or define your own utility classes */
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-lexend {
  font-family: var(--font-lexend), sans-serif;
}

.pattern-grid {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M0 20 L20 0' stroke='%23eeeeee' stroke-opacity='0.4' stroke-width='1'/%3E%3C/svg%3E");
  background-repeat: repeat;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(240, 240, 240, 0.1);
}
